@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', 'sans-serif', 'ui-sans-serif', 'system-ui', ' -apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  };
  :root {
    background-color: #e6e6e6;
    /* --text-50: #fde7e7;
    --text-100: #fbd0d0;
    --text-200: #f7a1a1;
    --text-300: #f47171;
    --text-400: #f04242;
    --text-500: #ec1313;
    --text-600: #bd0f0f;
    --text-700: #8e0b0b;
    --text-800: #5e0808;
    --text-900: #2f0404;
    --text-950: #180202;

  --background-50: '#FFFFFF',
  --background-100: '#FFFFFF',
  --background-200: '#FFFFFF',
  --background-300: '#FFFFFF',
  --background-400: '#FAFAFA',
  --background-500: '#E6E6E6',
  --background-600: '#CACACA',
  --background-700: '#AEAEAE',
  --background-800: '#929292',
  --background-900: '#767676',
  --background-950: '#686868'

    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;

    --primary-50: #ece5ff;
    --primary-100: #daccff;
    --primary-200: #b499ff;
    --primary-300: #8f66ff;
    --primary-400: #6933ff;
    --primary-500: #4400ff;
    --primary-600: #3600cc;
    --primary-700: #290099;
    --primary-800: #1b0066;
    --primary-900: #0e0033;
    --primary-950: #07001a;

    --secondary-50: #f3f3f2;
    --secondary-100: #e6e6e5;
    --secondary-200: #cdcdcb;
    --secondary-300: #b4b4b1;
    --secondary-400: #9b9b97;
    --secondary-500: #82827d;
    --secondary-600: #686864;
    --secondary-700: #4e4e4b;
    --secondary-800: #343432;
    --secondary-900: #1a1a19;
    --secondary-950: #0d0d0c;

    --accent-50: #e8e5ff;
    --accent-100: #d2ccff;
    --accent-200: #a599ff;
    --accent-300: #7866ff;
    --accent-400: #4b33ff;
    --accent-500: #1e00ff;
    --accent-600: #1800cc;
    --accent-700: #120099;
    --accent-800: #0c0066;
    --accent-900: #060033;
    --accent-950: #03001a; */

  }
  .dark {
    background-color: #0F172A;

    /* --text-50: #180202;
    --text-100: #2f0404;
    --text-200: #5e0808;
    --text-300: #8e0b0b;
    --text-400: #bd0f0f;
    --text-500: #ec1313;
    --text-600: #f04242;
    --text-700: #f47171;
    --text-800: #f7a1a1;
    --text-900: #fbd0d0;
    --text-950: #fde7e7;

    DEFAULT: '#0F172A',
  --background-50: '#3F61B1',
  --background-100: '#3A59A2',
  --background-200: '#2F4884',
  --background-300: '#243866',
  --background-400: '#1A2748',
  --background-500: '#0F172A',
  --background-600: '#000001',
  --background-700: '#000000',
  --background-800: '#000000',
  --background-900: '#000000',
  --background-950: '#000000'

    --background-50: #070a13;
    --background-100: #0e1525;
    --background-200: #1b294b;
    --background-300: #293e70;
    --background-400: #365396;
    --background-500: #4468bb;
    --background-600: #6986c9;
    --background-700: #8fa4d6;
    --background-800: #b4c2e4;
    --background-900: #dae1f1;
    --background-950: #ecf0f8;

    --primary-50: #07001a;
    --primary-100: #0e0033;
    --primary-200: #1b0066;
    --primary-300: #290099;
    --primary-400: #3600cc;
    --primary-500: #4400ff;
    --primary-600: #6933ff;
    --primary-700: #8f66ff;
    --primary-800: #b499ff;
    --primary-900: #daccff;
    --primary-950: #ece5ff;

    --secondary-50: #0d0d0c;
    --secondary-100: #1a1a19;
    --secondary-200: #343432;
    --secondary-300: #4e4e4b;
    --secondary-400: #686864;
    --secondary-500: #82827d;
    --secondary-600: #9b9b97;
    --secondary-700: #b4b4b1;
    --secondary-800: #cdcdcb;
    --secondary-900: #e6e6e5;
    --secondary-950: #f3f3f2;

    --accent-50: #03001a;
    --accent-100: #060033;
    --accent-200: #0c0066;
    --accent-300: #120099;
    --accent-400: #1800cc;
    --accent-500: #1e00ff;
    --accent-600: #4b33ff;
    --accent-700: #7866ff;
    --accent-800: #a599ff;
    --accent-900: #d2ccff;
    --accent-950: #e8e5ff; */

  }
}

